
.icon-check:before { content: '\e800'; } /* '' */
.icon-check-1:before { content: '\e801'; } /* '' */
.icon-cody:before { content: '\e802'; } /* '' */
.icon-hey:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-cart:before { content: '\e806'; } /* '' */
.icon-basket:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte1:before { content: '\f189'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-telegram1:before { content: '\f2c6'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-instagram1:before { content: '\f31e'; } /* '' */
